extends ../templates/template



block to-do
    .container-tasks
        .task__input-insert
            iconify-icon(icon="material-symbols:add-circle-rounded")
            input(type="text", name="new-task" placeholder="INGRESE NUEVA TAREA")