extends ../templates/template



block to-do
    .container-tasks
        .task__input-insert
            iconify-icon(icon="material-symbols:add-circle-rounded")
            form.task__form-insert
                input#input__new-task(type="text", name="new-task" placeholder="INGRESE NUEVA TAREA...")
        .task__wrapper
            .task-list#task-list
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox1(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox1") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox2(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox2") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox3(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox3") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox4(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox4") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox5(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox5") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox6(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox6") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox7(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox7") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox8(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox8") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox9(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox9") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox10(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox10") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox11(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox11") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox12(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox12") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox13(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox13") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox14(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox14") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar
                .task-list__wrapper
                    .task-list__element
                        .task-list__title Estudiar nueva Tecnologia
                        .task-list__description estudiar tecnologia de json web token
                    .task-list__element
                        .task-list__options
                            iconify-icon(icon="fluent:options-20-filled")
                            .task-list__options__btn.task-list__options__btn--hidden
                                .task-list__icon--close
                                    iconify-icon.btn__close-options(icon="material-symbols:close")
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:edit-document")
                                    span Editar
                                .task-list__icon
                                    .checkbox-wrapper
                                        input#checkbox15(type="checkbox", name="estado" checked value="done") 
                                        label(for="checkbox15") 
                                            span.circle
                                        span Realizado
                                    
                                .task-list__icon
                                    iconify-icon(icon="material-symbols:delete-forever-rounded")
                                    span Eliminar







            .task-dock#task-dock
                //- span.task-dock__circle
                //- span.task-dock__circle.task-dock__circle--active
                //- span.task-dock__circle
                //- span.task-dock__circle

            .task-info
                .task-info__title
                    span#tasks-length Tasks
                .task-info__done
                    span Realizadas: 
                    span#tasks-done
                .task-info__pending
                    span Pendientes: 
                    span#tasks-pending    
        .task-buttons
            .button-left#button-left
                iconify-icon(icon="material-symbols:chevron-left")
            .button-right#button-right
                iconify-icon(icon="material-symbols:chevron-right")
    
    script(src="./js/tasks.js") 